@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
--primary-color: #52489c;
--secondary-color: #59c3c3;
--accent-color: #f45b69;
--text-dark: #333;
--text-light: #ebebeb;
--primary-font: Kanit, Helvetica,sans-serif;
--secondary-font: Kanit, sans-serif;
}

.skiptocontent a {
    position: absolute;
    transform: scale(0);
}

.skiptocontent a:focus {
    transform: scale(1              );
}

header {
    display: grid;
    padding: 20px;
    border-bottom: 3px solid var(--secondary-color);
}
  
header h1 {
    text-align: center; 
    border-bottom: 3px solid var(--secondary-color);
    padding-bottom: 50px;
    font-family: var(--secondary-font);
    font-size: 3em;
}
  
nav {
    justify-self: end; 
}
  
nav ul {
    display: grid;
    grid-auto-flow: column; 
    gap: 10px; 
    list-style: none; 
    text-decoration: none;    
}

a {
    text-decoration: none;
    color: var(--accent-color);
    font-size:1.5em;
    font-family: var(--primary-font);
    padding: 1em;
}

main {
    padding: 20px;
    font-family: var(--primary-font);
}
  
p {
    font-size:1.3em;
    padding: 0; 
}

.row {
    display: grid;
    grid-template-columns: .5fr 1.75fr .75fr; 
    margin-bottom: 40px;   
}
  

.column {
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}
  
.img-column {
    display: flex;
    flex-direction: column;
}
  
.img-column h1 {
    color: var(--accent-color);
}

img {
    max-width: 40%;
    padding-left:5%;
}

.right-column {
    text-align: center;
    border: 2px solid var(--secondary-color);   
    margin-left: 40px;

  }

  .book-button {
    background: none;
    border: none;
    color: var(--accent-color);
    font-size:1.0em;
    transition: 1s;
  }

  .book-button:hover {
    color: var(--text-dark);
    transition: 1s;
  }