@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
:root {
    --primary-color: #1B98E0;
    --secondary-color: #59c3c3;
    --other-color:rgb(7, 156, 22);
    --text-dark: #333;
    --text-light: #ebebeb;
    --primary-font: Arial, Helvetica,sans-serif;
    --secondary-font: "Amatic SC";
    }

/* Header */
.icon {
    height:120px;
    
}

.website-title {
    display: flex;
    align-items: center; 
    justify-content: center; 
    gap:10px;
    color:black;
}

header{
    margin-top: -30px;
    border-bottom: 2px solid black;
    background-color: rgba(7, 250, 60, 0.7);

}

header h1{
    text-align:center;
    font-family: var(--secondary-font);
    padding-top:50px;
    font-size: 3em;
}

.topnav {
    text-align: center;
    padding-bottom: 10px;
    margin-top:-20px;
}

header a {
    text-decoration: none;
    color:black;
    padding: 10px;
    transition: .5s;
    font-family: var(--primary-font);
}

header a:hover {
    transition: .5s;
    transition-timing-function: linear;
    color: var(--other-color);
    text-shadow: 2px 2px 4px #636363;
}
/* Header */

/* Need Help? */
.services {
    padding-top: 1px;
    background-image: url('images/meadow-7152269.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 20px;
    font-family: var(--primary-font);
    text-align: center;
    color:white;
    height:400px;
}

.services h1 {
    padding-top: 70px;
    padding-bottom:30px;
    color: var(--secondary-color);
}

.services h2 {
    padding-bottom: 50px;
    padding-left: 10px;
    padding-right: 10px;
}

/* Need Help? */

/* About */
.all-about h1 {
    color: var(--secondary-color);
}

.all-about {
    border-top: 2px solid black;
    background-image: url('images/lawn-768316.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 20px;

}


.about{
    padding-top: 20px;
    text-align: center;
    width: auto;
    font-family: var(--primary-font);
}

.about img {
    width: 300px;
    height:300px;
    border: 1.5px solid black;
}


.about-section p {
    flex: 1; 
    margin: 0; 
    border: 1.5px solid black;
    height:260px;
    width: 260px;
    padding:20px;
    font-family: var(--primary-font);
    font-size: 15px;
    text-align: left;
    background-color: white;
}


.about-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 300px;
    margin:0 auto;
    border-radius: 5px 5px 5px 5px;
    border: 3px solid black;
}

.about-section p strong{
    text-shadow: 1px 1px 2px #636363;
}

.about-section p em{
    text-shadow: 1px 1px 2px #636363;
}


.image-container {
    position: relative;
    width: 300px;
    height: 300px;
    overflow: hidden;
    border: 1.5px solid black;
}

.image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.5s ease;
}

.image-container .behind-image {
    opacity: 0;
    z-index: 1;
}

.image-container:hover .behind-image {
    opacity: 1;
}

.image-container:hover .lawnmower {
    opacity: 0;
}


/* About */

/* Contacting */
.contact {
    border-top: 2px solid black;
    font-family: var(--primary-font);
    border-bottom: 2px solid black;
    background-image: url('images/grasses-348481.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
    color:white;
    display: flex;
    flex-direction: column;
}





.contact h1{
    color: var(--secondary-color);
    text-align: center;
}

#subject {
    width:50%;
}

.information .social{
    padding-bottom: 50px;
}

.information {
    font-family: var(--primary-font);
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}


.contact-buttons {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
}
/* Contacting */

/* Forms */
.contact-all form {
    gap: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
}

.contact-all form label {
    text-align: center; 
    margin-bottom: 5px; 
    color: black;
}

.contact-all form input,
.contact-all form select,
.contact-all form textarea {
    width: 70%; 
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
    
    
}

.contact-all form textarea {
    height:100px;
}

.contact-all form input[type="submit"] {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: var(--other-color);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 30%;
}

.contact-all form input[type="submit"]:hover {
    background-color: transparent;
    color: white;
    text-shadow: 2px 2px 4px #636363;
    transition: 0.5s;
}

form.hiddenc{
    gap: 10px; 
    background-color: rgb(255, 255, 255, .8);
    padding: 20px;
    border-radius: 10px;
    width: 500px; 
    
}

.hidden-contact{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    font-family: var(--primary-font);
    animation: slideDown 0.4s ease-out;
    padding: 0px;
    border-radius: 10px;
    animation-name: slideDown;
    animation-duration: 0.4s;
    background-image:url("images/lawn-768316.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #fefefe;
}

/* Hidden Form Modal*/
.hidden-form {
    padding: 20px;
    background-image:url("images/lawn-768316.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: var(--primary-font);
    animation: slideDown 0.4s ease-out;
    background-color: #fefefe;
    padding: 0;
    border: 1px solid #888;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: slideDown;
    animation-duration: 0.4s;
    display: grid;
    place-items: center;  
}


.modal-overlay, .form-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: flex-start;
    padding-top: 0%;
    z-index: 1000;
    overflow-y:auto;
  }

  .hidden input[type=submit], .hidden button[type=submit] {
    padding:15px 30px;
    font-size: 1.2em;
    margin-top:15px;
}
  
  /* Slide Down Animation */
  @keyframes slideDown {
    from {
      transform: translateY(-100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }



form.hidden label {
    text-align: right; 
    padding-right: 10px; 
    padding-top: 10px;
}

form.hidden input,
form.hidden select {
    width: 100%; 
    padding: 5px; 
    border: 1px solid #ccc;
    border-radius: 4px;
}


form.hidden{
    display: grid;
    grid-template-columns: .75 1fr; 
    gap: 10px; 
    background-color: rgb(255, 255, 255, .8);
    padding: 20px;
    border-radius: 0px  0px 8px 8px;
    width: 600px; 
    
}



#hidden-form #city {
    width:51%;
    height: 40px;
}

#hidden-form input {
    text-align:left;
    width: 50%;
    height: 30px;
    font-size: 15px;
    
}  
/* Hidden Form */
/* Forms */

/* footer */
footer {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(7, 250, 60, 0.7);
}

.footer-title {
    display:flex;
    flex-direction: row-reverse;
    font-family: var(--secondary-font);
    gap: 5px;
    color: black;
}

.footer-title p {
    margin-bottom: 10px;
    padding-top: 0px;
    font-size: 25px;
}

.icon-footer {
    height: 50px;
}
/* footer */
  
/* social */
.social a img {
    height:50px;
    width:50px;
    background-color: white;
    border-radius: 7px;
    transition: .5s;
}

.social a img:hover {
    background-color: var(--other-color);
    transition: .5s;
}
/* Social */

/* Buttons */
.button, .button2 {
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: var(--other-color);
    padding: 10px;
    border: 4px solid var(--other-color);
    border-radius: 10px 10px 10px 10px;
    transition: .5s;
    font-size: 1.3em;
}

.button:hover {
    background-color: transparent;
    color: white;
    text-shadow: 2px 2px 4px #636363;
    border:4px solid transparent;
}

.button2 {
    font-size: 3em;
}

.button2:hover {
    background-color: transparent;
    color: white;
    text-shadow: 2px 2px 4px #636363;
    border:4px solid transparent;
}

.service-card button {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: .5s;
    font-size: 2em;
    padding: 25px;
    color:rgb(0, 0, 0);
    border: none;
    
}

.service-card button:hover {
    opacity: .5;
    transition: .5s;
}

#closer-button {
    position: absolute;
    font-size: 10px;
    margin-left: 370px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: var(--other-color);
    padding: 10px;
    transition: .5s;
    font-family: var(--primary-font);
    border:none;
    margin-bottom: 420px;

}

#closer-button-contact{
    position: absolute;
    font-size: 10px;
    margin-left: 475px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: var(--other-color);
    padding: 10px;
    transition: .5s;
    font-family: var(--primary-font);
    border:none;
    margin-top: 45px;
}

#closer-button-contact:hover{
    background-color: transparent;
    color: rgb(255, 0, 0);
    text-shadow: 2px 2px 4px #636363;
    transition: .5s;
    border:none;
}

#closer-button:hover{
    background-color: transparent;
    color: rgb(255, 0, 0);
    text-shadow: 2px 2px 4px #636363;
    transition: .5s;
    border:none;
}

form.hidden button {
    grid-column: span 2; 
    justify-self: center; 
    padding: 10px 20px;
    background-color: var(--other-color);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: .2s;
}


button[type=submit]:hover {
    background-color: transparent;
    color: white;
    text-shadow: 2px 2px 4px #636363;
    transition: .5s;
}


/* Buttons */

/* Services */

#thank-you-message, #contact-message {
    color:white;
    border-bottom: #ffd105 solid 5px;
    display: none;
    text-align: center;
}

.service-card{
    font-family: var(--primary-font);
    width: 300px;
    height: 300px;
    text-align: center;
    padding: 30px;
    margin: auto;
    position: relative;
    overflow: hidden;
    margin-bottom: 25px;
    transition: .25s;
    border: 10px solid transparent  
}

.service-card p {
    text-align: left;
}

.service-card:hover { 
    transition: .25s;
    border: 10px solid black;
}

.service-card img { 
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    object-fit: cover;
    opacity: .5; 
}

#services-section h1 {
    font-family: var(--secondary-font);
    text-align: center;
    font-size: 2.5em;
    color: var(--other-color);
}

#services-section {
    border-top: 2px solid black;

}
/* Services */

/* Screen Size */
@media screen and (min-width: 650px){
    .about-section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        max-width: 606px;
        margin:0 auto;
        border-radius: 5px 5px 5px 5px;
        border: 3px solid black; 
        
    }

    #closer-button{
        margin-left: 500px;
    
    }

    .contact-all {
        display: grid;
        grid-template-columns: 1fr 1fr;
        
    }
    .contact {
        height:300px;
        display: flex;
        flex-direction: row;
    }

    .information h1{
        padding-bottom: 5px;
    }

    .information {
        font-family: var(--primary-font);
        max-width: fit-content;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
    }
    
    .contact-buttons {
        max-width: fit-content;
        margin-left: auto;
        margin-right: auto;
        margin-top: 75px;
        flex-direction: row;
        height: 55px;
        margin-top: 115px;
        
    }
}

@media screen and (min-width: 800px){
    #services-block {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows:auto ;
        width: 770px;
        margin: auto;
    }

}

    @media screen and (min-width: 1200px){
        #services-block {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows:auto ;
            width: 770px;
            margin: auto;
            justify-content: center;
        }
}


/* Screen Size */
